<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.lifeni.bms.dao.StudentDao">

    <select id="queryAllStudents" resultType="app.lifeni.bms.entity.model.Student">
        select *
        from `student`
    </select>

    <insert id="addStudent">
        insert into `student`(userId, userName, sex, birthYear, grade, collegeId)
        VALUES (#{userId}, #{userName}, #{sex}, #{birthYear}, #{grade}, #{collegeId})
    </insert>

    <update id="editStudent">
        update `student`
        set userName  = #{userName},
            sex       = #{sex},
            birthYear = #{birthYear},
            grade     = #{grade},
            collegeId = #{collegeId}
        where userId = #{userId}
    </update>

    <delete id="deleteStudent">
        delete
        from `student`
        where userId = #{userId}
    </delete>
</mapper>
