<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.lifeni.bms.dao.UserDao">

    <select id="queryAllUsers" resultType="app.lifeni.bms.entity.model.User">
        select *
        from `user-login`
    </select>

    <update id="resetPasswordByAdmin">
        update `user-login`
        set password = #{password}
        where userId = #{userId}
    </update>
</mapper>
